{:paths ["src" "resources"],
 :deps
 {io.dropwizard.metrics/metrics-core {:mvn/version "4.0.5"},
  io.dropwizard.metrics/metrics-jmx {:mvn/version "4.0.5"}},
 :aliases {;; for help: clojure -A:deps -T:build help/doc
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}
           :clojure-1.9 {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :clojure-1.11 {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
           :clojure-next {:extra-deps {org.clojure/clojure {:mvn/version "1.12.0-alpha5"}}}
           :dev {:extra-paths ["test"]
                 :extra-deps {org.slf4j/slf4j-simple {:mvn/version "2.0.9"}}}
           :test {:extra-deps {org.slf4j/slf4j-simple {:mvn/version "2.0.9"}
                               lambdaisland/kaocha {:mvn/version "1.87.1366"}}
                  :exec-fn kaocha.runner/exec-fn
                  :exec-args {}}
           :watch-test {:extra-deps {org.slf4j/slf4j-simple {:mvn/version "2.0.9"}
                                     lambdaisland/kaocha {:mvn/version "1.87.1366"}}
                        :exec-fn kaocha.runner/exec-fn
                        :exec-args {:watch? true
                                    :skip-meta :slow
                                    :fail-fast? true}}}
 :mvn/repos
 {"sonatype"
  {:url "http://oss.sonatype.org/content/repositories/releases",
   :snapshots false,
   :releases {:checksum :fail, :update :always}},
  "sonatype-snapshots"
  {:url "http://oss.sonatype.org/content/repositories/snapshots",
   :snapshots true,
   :releases {:checksum :fail, :update :always}}}}